{% extends 'Reserve/master.html'%}
{% block body_block %}
    <div class="jumbotron">
        <h1> Please Login</h1>
        <form action="{%url 'login'%}" method="post">
             {% csrf_token %}
            <label for="txtUsername">Username: </label>
            <input type="text" id="txtUsername" name="username">
            <br>
            <label for ="txtPassword">Password: </label>
            <input type="password" id="txtPassword" name="password">
            <br>
            <input type="submit"  value="Login" class="btn btn-ghost">
    </div>
{% endblock %}